@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@500&family=Roboto:wght@700&display=swap');

/* Variables */

:root {

    /* Color Palette */
    --clr-dark: #2D3A3F;
    --clr-dark-accent: #AD805B;
    --clr-main: #EE8B46;
    --clr-light-accent: #9DA6A6;
    --clr-light: #F4F6F1;
}

/* Utility Classes */

.marbot-small {
    margin-bottom: .5em;
}
.martop-small {
    margin-top: .5em;
}
.marbot-medium {
    margin-bottom: 1em;
}
.martop-medium {
    margin-top: 1em;
}
.marbot-big {
    margin-bottom: 1.5em;
}
.martop-big {
    margin-top: 1.5em;
}
.marbot-large {
    margin-bottom: 2em;
}
.martop-large {
    margin-top: 2em;
}

/* Reset */
html {
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
}

/* Accessibility */

.skip-to-main {
    position: absolute;
    color: var(--clr-main);
    font-size: 0.625rem;
    font-weight: 900;
    padding: .3em .75em;
    top: -10%;
    margin: 0 auto;
    border-radius: 0 0 0.25rem 0.25rem;
    transform: translateY(-120%);
    transition: transform .400ms ease-in;
}

.skip-to-main:focus {
    transform: translateY(0);
}

#backToTop {
    /* display: none; */
    position: fixed;
    bottom: 2%;
    right: 2%;
    background-color: var(--clr-main);
    color: var(--clr-light);
    font-size: 2em;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: none;
    box-shadow: 0 2px 10px rgba(0, 0, 0, .6);
    cursor: pointer;
    z-index: 99;
}

#backToTop:hover {
    background-color: var(--clr-dark);
}

/* General Components */

h1, h2, h3, h4, h5, h6 {
    font-family: 'Roboto', Verdana, Geneva, Tahoma, sans-serif;
    line-height: 1.1;
    margin-bottom: 0.5em;
}

h1 {
    font-size: 1.625rem;
    font-variant: small-caps;
    letter-spacing: 1.4px;
}
h2 {
    font-size: 1.5rem;
}
h3 {
    font-size: 1.375rem;
    letter-spacing: 1.2px;
}
h4 {
    font-size: 1.25rem;
    letter-spacing: 1.2px;
}
h5 {
    font-size: 1.125rem;
}
h6 {
    font-size: 1rem;
}

li {
    list-style-type: none;
}
a {
    text-decoration: none;
}

body {
    font-family: 'Nunito', Arial, Helvetica, sans-serif;
    font-size: 16px;
    background-color: var(--clr-light);
    color: var(--clr-dark);
    line-height: 1.6;
}

/* ---------- */
/*   Header   */
/* ---------- */

header {
    width: 100%;
    height: 90px;
    background-color: var(--clr-dark);
    text-align: center;
    padding: .5em 1.5em;
}

.fixed {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10;
}

.header-container {
    position: relative;
    max-width: 1200px;
    margin: 0 auto;
    padding-bottom: .1em;
    background-color:rgba(45, 58, 63, .8);
    border-radius: 10px;
}

.logo-div {
    width: 10.9375em;
    padding: .75em .25em .5em .25em;
    margin: 0;
}

.logo-div a {
    display: inline-block;
    width: 100%;
    height: 100%;
}

/* Hamburger Button */

.nav-toggle {
    position: absolute;
    top: 1.45em;
    right: .75em; 
    width: 3em;
    height: 3em;
    background-color: var(--clr-dark);
    border: 2px solid var(--clr-main);
    border-radius: 5px;
    padding-bottom: .3em;
    cursor: pointer;
    }

.nav-toggle:hover,
.nav-toggle:focus-within {
    background-color: rgb(238, 139, 70, .5);
    border: 2px solid black;
    border-radius: 5px;
}

.hamburger {
    font-size: 1.375rem;
    font-weight: 900;
    color: var(--clr-main);
    cursor: pointer;
}

.hamburger:hover,
.hamburger:focus-within {
    color: black;
}

/* Navigation */

.nav {
    position: absolute;
    visibility: hidden;
    width: 100%;
}

.nav--visible {
    position: relative;
    visibility: visible;
    height: auto;
}

.nav__list {
    margin: 1em auto;
    padding: 0;
}

.nav__item {
    margin-bottom: .5em;
}

.nav__link {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 1rem;
    letter-spacing: 1.5px;
    color: var(--clr-main);
    text-transform: uppercase;
}

.nav__link:hover,
.nav__link:focus-within {
    color: #eeac7c;
}

.active {
    color: #eeac7c;
    padding-bottom: .2em;
    border-bottom: 1px solid #eeac7c;
}

/* --------------- */
/*    HOME PAGE    */
/* --------------- */

/* Hero */

.hero-container {
    position: relative;
    width: 100%;
    height: 70vh;
    overflow: hidden;
    margin-top: 90px;
}

.hero__image {
    width: 100%;
    height: 70vh;
    background-image: url('../images/hero-home-orange-tint.jpg');
    background-repeat:  no-repeat;
    background-size: cover;
    background-position: center center;
}

.hero__text {
    position: absolute;
    top: 75%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 70%;
    color: var(--clr-main);
    background-color: rgba(45, 58, 63, .8);
    text-align: center;
    padding: 1.2em 0.5em;
    border-radius: 10px;
}

/* Quote */

.quote-container {
    width: 100vw;  
}

.quote-card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 300px;
    margin: 2.5em auto;
    padding: 1em .5em;
    background: linear-gradient(to right, 
      rgba(157, 166, 166, .4), 
      rgba(157, 166, 166, .8));
    border-radius: 5px;
    box-shadow: 2px 2px 5px rgb(0, 0, 0, .6);
}

.quote__image {
    width: 100px;
    height: 120px;
    border: 1px solid var(--clr-main);
    border-radius: 50%;
    margin-right: 1em;
}

.quote__text {
    position: relative;
    padding: .5em;
    width: 140px;
    height: 180px;
}

.quote__text blockquote {
    text-indent: 15px;
    text-align: left;
}

.quote__text::before {
    content: '\201C';
    color: var(--clr-main);
    font-size: 7em;
    opacity: 0.4;
    position: absolute;
    top: -51px;
    right: 123px;
    z-index: 9;
}

.quote__text::after {
    content: '\201D';
    color: var(--clr-main);
    font-size: 7em;
    opacity: 0.4;
    position: absolute;
    top: 69px;
    right: 3px;
    z-index: 9;
}

.quote__text:last-child {
    text-align: right;
}

/* Our Vision Section */

.vision-container {
    text-align: center;
    padding: 0 1em;
}

.vision__title {
    padding: 0 1.5em;
}

.vision__statements {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.vision__box {
    width: 150px;
    font-size: 1.125rem;
    line-height: 1.4;
    flex-grow: 1;
    padding: 0 1em;
}

.vision__box:not(:last-child) {
    margin-bottom: 1em;
}

.vision__icon {
    color: var(--clr-main);
    font-size: 1.75rem;
}

/* Call to Action */

.cta-container {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 90%;
    height: auto;
    background-color: var(--clr-main);
    border-radius: 5px;
    padding: .5em;
    margin: 2.5em auto;
    box-shadow: 5px 5px 10px rgb(0, 0, 0, .5);
}

.cta__image {
    width: 100%;
    height: 500px;
    background-image: url('../images/pexels-andrea-piacquadio-3865544.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    border-radius: 5px;
    opacity: 0.8;
}

.cta__textbox {
    position: absolute;
    top: 22%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 60%;
    color: var(--clr-light-accent);
    background-color:rgba(45, 58, 63, .4);
    border-radius: 5px;
    padding: 1em;
    text-align: center;
}

.cta__button {
    position: absolute;
    bottom: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.cta__button a {
    color: black;
    background-color: var(--clr-main);
    border: 2px solid black;
    font-variant: small-caps;
    font-weight: 900;
    padding: .5em 1em;
    border-radius: 50px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, .6);
}

.cta__button a:hover,
.cta__button a:focus-within {
    color: var(--clr-main);
    background-color: var(--clr-dark);
    border: 1px solid var(--clr-main);
}

/* ---------- */
/*   FOOTER   */
/* ---------- */

.footer-container {
    width: 100%;
    background-color: var(--clr-dark);
    padding: 2em 2em 0.5em;
    text-align: center;
    color: var(--clr-light-accent);
    font-size: 0.6875rem;
}

.footer-container span {
    color: rgb(209, 166, 131);
}
.footer-container span:hover,
.footer-container span:focus-within {
    color: var(--clr-main);
}

.footer__links {
    display: flex;
    justify-content: space-evenly;
    font-size: 1.125rem;
    padding: .5em 0;
}

.contact-links li,
.social-links li {
    display: inline;
}

.contact-links li:not(:last-child),
.social-links li:not(:last-child) {
    margin-right: 1em;
}

.social-links a,
.contact-links a {
    color: var(--clr-light-accent);
}

.social-links a:hover,
.social-links a:focus-within,
.contact-links a:hover,
.contact-links a:focus-within {
    color: var(--clr-main);
}

/* ---------------- */
/*    ABOUT PAGE    */
/* ---------------- */

.about-container {
    position: relative;
    width: 100%;
    height: 600px;
    margin-top: 90px;
}

.about__image {
    width: 100%;
    height: 600px;
    background-image: url('../images/hero-about-orange-tint-flip-crop.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right center;
    opacity: 0.6;
}

.about__text {
    position: absolute;
    top: 50px;
    right: 10%;
    transition: translate(-50%, -50%);
    width: 80%;
    height: 500px;
    border: 2px solid var(--clr-main);
    border-radius: 5px;
    padding: 1em;
    overflow: scroll;
}

.more-text {
    display: none;
}

.button-container {
    margin: 1em auto;
}

.read-more-btn {
    padding: 8px 20px;
    background-color: var(--clr-dark-accent);
    color: var(--clr-dark);
    font-weight: 800;
    text-transform: uppercase;
    letter-spacing: 1.2px;
    border-radius: 10px;
    border: none;
    box-shadow: 2px 2px 5px rgb(0, 0, 0, .6);
    cursor: pointer;
}

.read-more-btn:hover,
.read-more-btn:focus-within {
    background-color: var(--clr-light-accent);
}

.text.show--more .more-text {
    display: inline-block;
}

.text.show--more .dots {
    display: none;
}

/* Flip-Card */

/* functionality */
.flip-card {
    width: 300px;
    height: 500px;
    margin: 0 auto;
    perspective: 1000px;
}

.card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    text-align: center;
    border-radius: 5px;
    transition: transform 600ms;
    transform-style: preserve-3d;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, .6);
}

.flip-card:hover .card-inner,
.flip-card:focus-within .card-inner {
    transform: rotateY(180deg);
}

.card-front, .card-back {
    position: absolute;
    width: 100%;
    backface-visibility: hidden;
}

/* front styles */
.card-front {
    height: 100%;
    background-color: var(--clr-light);
    border-radius: 5px;
}

.front__bkg-photo {
    position: relative;
    width: 300px;
    height: 150px;
    background: url('../images/pexels-bryan-geraldo-586415.jpg') no-repeat;
    background-size: cover;
    backface-visibility: hidden;
    overflow: hidden;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.front__bkg-photo::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.front__profile-photo {
    position: relative;
    top: -70px;
    width: 120px;
    height: 120px;
    margin: 0 auto;
    background: url('../images/johnsmithcropped.jpg') no-repeat;
    background-size: cover;
    backface-visibility: hidden;
    overflow: hidden;
    border-radius: 50%;
    border: 3px solid var(--clr-light);
}

.front__text {
    position: relative;
    top: -60px;
    padding: 0 1.5em;
    backface-visibility: hidden;
}

.front__text-title {
    margin-bottom: 0;
}

.front__text-hover {
    position: relative;
    top: 10px;
    background-color: var(--clr-light-accent);
    color: var(--clr-dark);
    font-size: 0.875rem;
    font-weight: 900;
    letter-spacing: 1.2px;
    padding: 8px 13px;
    border: 1px solid var(--clr-dark);
    border-radius: 25px;
    backface-visibility: hidden;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, .6);
}

/* back style */
.card-back {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--clr-dark-accent);
    text-align: center;
    border-radius: 5px;
    transform: rotateY(180deg);
    box-shadow: 2px 2px 10px rgba(0, 0, 0, .6);
}

.back__text {
    position: relative;
    top: 50px;
    color: var(--clr-light);
    padding: 0 1.5em;
    backface-visibility: hidden;
}

.back__links {
    position: absolute;
    bottom: 50px;
    width: 100%;
    text-align: center;
}

.back__links li {
    display: inline;
}

.back__links-item {
    font-size: 1.375rem;
    color: var(--clr-light);
    margin: 0 50px;
}


/* Media Section */

.media {
    background-color: rgba(156, 165, 165, .7);
    margin: 2.5em auto;
    padding: 2em 1em;
  
}

.media__title {
    max-width: 500px;
    margin: 0 auto;
    text-align: center;
    line-height: 1.2;
}

.media__content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: flex-start;
}

.media__content p {
    max-width: 300px;
    margin: 0 auto;
    line-height: 1.4;
    text-align: left;
    padding: .5em .5em 1em .5em;
}

.audio-div {
    width: 300px;
    height: 150px;
    padding-top: 50px;
}

.media__item {
    padding-top: 1.5em;
    border-bottom: 1px solid var(--clr-main);
}


/* Rehearsal Card */

.rehearsal-card {
    max-width: 600px;
    margin: 0 auto;
    border: 2px solid var(--clr-main);
    border-radius: 10px;
    padding: 1.5em 0;
    text-align: center;
    line-height: 1.2;
}

.rehearsal__content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
}

.rehearsal__item {
    width: 45%;
    margin: 0 auto;
}

.rehearsal__icon {
    font-size: 1.5rem;
    color: var(--clr-main);
    padding: .5em 0;
}

.rehearsal__text span {
    color: var(--clr-main);
    font-weight: 900;
}

.rehearsal__text a:link {
    color: var(--clr-light-accent);
    font-weight: 900;
    text-decoration: underline;
}

.rehearsal__text a:hover,
.rehearsal__text a:focus-within {
    color: var(--clr-main);
}

/* Testimonials Section */

.testimonials {
    max-width: 1200px;
    margin: 2.5em auto;
    background-color: var(--clr-dark-accent);
    padding: 2em;
    border-radius: 10px;
    text-align: center;

}

.testimonials__content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.testimonials__item {
    padding: 1em;
    border-radius: 10px;
    background-color: rgb(244, 246, 241, .5);
    margin-bottom: 1em;
    box-shadow: 0 2px 5px rgba(0, 0, 0, .6); 
}

.testimonials__image {
    width: 70px;
    height: 70px;
    display: inline-block;
    border-radius: 50%;
    border: 1px solid var(--clr-main);
    object-fit: cover;
    overflow: hidden;
    margin: .5em;
}

.testimonials__text {
    line-height: 1.3;
}

.testimonials__text span {
    font-style: italic;
    font-weight: 700;
}

/* ---------------- */
/*   EVENTS PAGE    */
/* ---------------- */

.events-and-news {
    width: 90vw;
    margin: 6.625em auto 2.5em;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
}

.events-and-news h2,
.events-and-news h3 {
    text-align: center;
}

/* Events Section */

.event__card {
    background-image: linear-gradient(to bottom right,
    rgb(238, 139, 70),
    rgb(244, 246, 241),
    rgb(238, 139, 70));
    border-radius: 5px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, .6);
}

.event__card-image {
    width: 100%;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.event__card img {
    display: block;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.event__card-header {
    height: 80px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: flex-start;
}

.event-date {
    width: 70px;
    height: 70px;
    background-color: var(--clr-dark);
    color: var(--clr-light-accent);
    line-height: 1.1;
    padding: .5em;
}

.event-details {
    display: inline;
    font-size: 0.875rem;
    line-height: 1;
    padding: .5em 0;
}

.event-details i {
    color: var(--clr-dark-accent);
    font-size: 1rem;
    padding: .5em;
}

.event-location  {
    text-decoration: underline;
}

.event-location:hover,
.event-location:focus {
    text-decoration: none;
    color: black;
}


.event-text {
    padding: 1em;
}

/* News Section */

.news__card {
    background-image: linear-gradient(
        to right bottom, var(--clr-light-accent), 
        var(--clr-light),
        var(--clr-light-accent));
    border: 2px solid var(--clr-dark);
    border-radius: 10px;
    padding: 1em;
    margin: 2em auto;
    box-shadow: 0 2px 5px rgba(0, 0, 0, .6);
}

.news__card-header {
    height: 100px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 1em;
}

.news__card-image {
    display: block;
    width: 100px;
    height: 100px;
    border: 1px solid var(--clr-dark);
    border-radius: 50%;
    overflow: hidden;
}

.news__card-content {
    padding: .5em .5em 1em;
}

.news__card-content span {
    font-style: italic;
    font-weight: 700;
    float: right;
    display: block;
}

/* ---------------- */
/*   CONTACT PAGE   */
/* ---------------- */

.contact-us {
    width: 100%;
    margin-top: 5.625em;
    background-image: url('../images/contact-page.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    text-align: center;
    padding: 1em;
}

.contact-us__text {
    width: 80vw;
    background-color: rgb(45, 58, 63, .7);
    color: var(--clr-light);
    line-height: 1.4;
    border-radius: 5px;
    margin: 1.5em auto;
    padding: 1.5em;
}

.contact-us__form-container {
    margin: 0 auto;
    border: 1px solid var(--clr-dark);
    border-radius: 5px;
    line-height: 1.1;
    text-align: left;
}

.contact-form {
    max-width: 500px;
    color: var(--clr-light);
    background-color: rgb(45, 58, 63, .7);
    margin: 0 auto;
    padding: 2em;
}

.contact-form fieldset {
    padding: .5em;
    margin-bottom: 1.5em;
    font-size: 1rem;
}

.text-input {
    color: rgb(45, 58, 63, .8);
    background-color: #9DA6A6;
    padding: 5px;
    margin-bottom: .75em;
    border: none;
    border-radius: 5px;
}

.text-input:hover,
.text-input:focus {
    border-color: var(--clr-dark);
}

.radio {
    margin: .5em 0;
}

.btn {
    display: block;
    background-color: var(--clr-dark);
    color: var(--clr-light-accent);
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 1.2px;
    padding: 5px 13px;
    border-radius: 25px;
    border: none;
    margin: 0 auto;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, .6);
}

.btn:hover,
.btn:focus {
    background-color: var(--clr-light-accent);
    color: var(--clr-dark);
}