@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@500&family=Roboto:wght@700&display=swap');

/* Variables */
:root {

    /* Color Palette */
    --clr-dark: #2D3A3F;
    --clr-dark-accent: #AD805B;
    --clr-main: #EE8B46;
    --clr-light-accent: #9DA6A6;
    --clr-light: #F4F6F1;
}

/* Utility Classes */
.marbot-small {
    margin-bottom: .5em;
}
.martop-small {
    margin-top: .5em;
}
.marbot-medium {
    margin-bottom: 1em;
}
.martop-medium {
    margin-top: 1em;
}
.marbot-big {
    margin-bottom: 1.5em;
}
.martop-big {
    margin-top: 1.5em;
}

/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
    margin: 0;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Roboto', Verdana, Geneva, Tahoma, sans-serif;
    line-height: 1.2;
}

body {
    font-family: 'Nunito', Arial, Helvetica, sans-serif;
    font-size: 16px;
    background-color: var(--clr-light);
    color: var(--clr-dark);
    line-height: 1.6;
}

/* Header */
header {
    width: 100%;
    height: 90px;
    background-color: var(--clr-dark);
    text-align: center;
    padding: .5em 1.5em;
}

.fixed {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10;
}

.header-container {
    position: relative;
    /* width: 100%; */
    max-width: 1200px;
    margin: 0 auto;
    padding-bottom: .1em;
    background-color:rgba(45, 58, 63, .8);
    border-radius: 10px;
}

.logo-div {
    width: 10.9375em;
    padding: .75em .25em .5em .25em;
    margin: 0;
}

.logo-div a {
    display: inline-block;
    width: 100%;
    height: 100%;
}

/* Hamburger Button */
.nav-toggle {
    position: absolute;
    top: 1.45em;
    right: .75em; 
    width: 3em;
    height: 3em;
    background-color: var(--clr-dark);
    border: 2px solid var(--clr-main);
    padding-bottom: .3em;
    cursor: pointer;
    transition: background-color 250ms ease;
}
.nav-toggle:hover,
.nav-toggle:focus {
    background-color: hsl(196.7, 16.7%, 41.2%);
}

.hamburger {
    font-size: 1.375rem;
    color: var(--clr-main);
}

/* Navigation */
.nav {
    position: absolute;
    visibility: hidden;
    width: 100%;
}

.nav--visible {
    position: relative;
    visibility: visible;
    height: auto;
}

.nav__list {
    margin: 1em auto;
    padding: 0;
}

.nav__item {
    margin-bottom: .5em;
    list-style: none;
}

.nav__link {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 1rem;
    letter-spacing: 1.5px;
    color: var(--clr-main);
    text-decoration: none;
    text-transform: uppercase;
}

.nav__link:hover,
.nav__link:focus {
    color: #eeac7c;
}

.active {
    color: #eeac7c;
    padding-bottom: .2em;
    border-bottom: 1px solid #eeac7c;
}

/* Hero */
.hero-container {
    position: relative;
    width: 100%;
    height: 70vh;
    overflow: hidden;
    margin-top: 90px;
}

.hero__image {
    width: 100%;
    height: 70vh;
    background-image: url('../images/hero-home-orange-tint.jpg');
    background-repeat:  no-repeat;
    background-size: cover;
    background-position: center center;
}

.hero__text {
    position: absolute;
    top: 55%;
    left: 15%;
    /* transform: translate(-7%, -18%); */
    width: 70%;
    color: var(--clr-main);
    background-color: rgba(45, 58, 63, .8);
    text-align: center;
    padding: 1.2em 0.5em;
    border-radius: 10px;
}

.hero__text h1 {
    font-size: 1.5rem;
    font-variant: small-caps;
    letter-spacing: 1.4px;
}

.hero__text h3 {
    font-size: 1.25rem;
    letter-spacing: 1.2px;
}

/* Aside */
.aside-container {
    width: 100vw;  
}

/* Quote */

.quote-card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 280px;
    margin: 2em auto;
    padding: 1em .5em;
    background: linear-gradient(to right, 
      rgba(157, 166, 166, .4), 
      rgba(157, 166, 166, .8));
    border-radius: 5px;
    box-shadow: 2px 2px 5px rgb(0, 0, 0, .4);
}

.quote__image {
    width: 100px;
    height: 120px;
    border: 1px solid var(--clr-main);
    border-radius: 50%;
    margin-right: 1em;
}

.quote__text {
    position: relative;
    padding: .5em;
    width: 140px;
    height: 180px;
}

.quote__text blockquote {
    text-indent: 15px;
    text-align: left;
}

.quote__text::before {
    content: '\201C';
    color: var(--clr-main);
    font-size: 7em;
    opacity: 0.4;
    position: absolute;
    top: -51px;
    right: 123px;
    z-index: 9;
}

.quote__text::after {
    content: '\201D';
    color: var(--clr-main);
    font-size: 7em;
    opacity: 0.4;
    position: absolute;
    top: 69px;
    right: 3px;
    z-index: 9;
}

.quote__text:last-child {
    text-align: right;
}

/* Our Vision Section */
.vision-container {
    text-align: center;
    padding: 1.5em 1em;
}

.vision__title {
    padding: 0 1.5em;
}
.vision__title h2 {
    font-variant: small-caps;
    margin-bottom: .5em;
}

.vision__title h3 {
    font-size: 1.125rem;
    font-weight: 500;
}

.vision__statements {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.vision__box {
    width: 150px;
    font-size: 1.125rem;
    line-height: 1.4;
    flex-grow: 1;
    padding: 0 1em;
    margin-bottom: 1em;
}

.vision__icon {
    color: var(--clr-main);
    font-size: 1.75rem;
}


